:root {
--main-text-color:#2e2f42;
--second-text-color:#434455;
--main-bg-color:#fff;
--title-text-color:#fff;
--second-bg-color:#f4f4fd;
--btn-bg-color:#f4f4fd;
--btn-bg-color-active:#4048bf;
--btn-text-color:#4d5ae5;
--btn-text-color-active:#fff;
--title-btn-active-hover:#404BBF;
--footer-text:#E7E9FC;
}
body{
font-family: 'Roboto', sans-serif;
color: var(--main-text-color);
background-color: var(--main-bg-color);
}
ul{
list-style: none;
}

.logo{
font-family: 'Raleway', sans-serif;
font-style: normal;
text-transform: uppercase;
font-weight: 800px;
font-size: 18px;
line-height: 1.33;
color: var(--main-text-color);
}
.span-logo{
font-family: 'Raleway', sans-serif;
font-style: normal;
text-transform: uppercase;
font-weight: 800px;
font-size: 18px;
line-height: 1.33;
color:var(--btn-text-color);
}

.studio{
font-style: normal;
font-size: 16px;
line-height: 1.5;
color:var(--main-text-color);
}
.studio:hover,
.studio:focus{
color: var(--btn-text-color);
}
.portfolio{
font-style: normal;
font-size: 16px;
line-height: 1.5;
color:var(--main-text-color);
}
.portfolio:hover,
.portfolio:focus{
color: var(--btn-text-color);
}

.contacts{
font-style: normal;
text-decoration: none;
font-size: 16px;
line-height: 1.5;
color:var(--main-text-color);
}
.contacts:hover,
.contacts:focus{
color: var(--btn-text-color);
}

.mail{
font-style: normal;
font-size: 16px;
line-height: 1.5;
color: var(--second-text-color);
}
.mail:hover,
.mail:focus{
color: var(--btn-text-color);
}
.phone{
font-style: normal;
font-size: 16px;
line-height: 1.5;
color: var(--second-text-color);
}
.phone:hover,
.phone:focus{
color: var(--btn-text-color);
}
.hero{
background-color: var(--second-text-color);}

.title{
font-size: 56px;
line-height: 1.07;
color:var(--title-text-color);
}
.title-button{
background-color:var(--btn-text-color);
font-family: 'Roboto', sans-serif;
font-style: normal;
font-size: 16px;
line-height: 1.5;
color:var(--title-text-color);
}
.title-button:hover,
.title-button:focus{
cursor: pointer;
background-color:var(--title-btn-active-hover);
color: var(--title-text-color)
}
.none{
display: none;
}
.post-title{
font-size: 20px;
line-height: 1.2;
color:var(--main-text-color);
}
.post-title-text{
font-size: 16px;
line-height: 1.5;
color: var(--second-text-color);
}
.images-title{
font-size: 36px;
line-height: 1.11;
color: var(--main-text-color);
}
.team-title{
font-size: 36px;
line-height: 1.11;
color: var(--main-text-color)
}
.post-team-title{
font-size: 20px;
line-height: 1.2;
color:var(--main-text-color);    
}
.team-text{
font-size: 16px;
line-height: 1.5;
color: var(--second-text-color); 
}
.logo-text{
font-size: 16px;
line-height: 1.5;
color:var(--footer-text);   
}
.button-all{
background-color:var(--btn-bg-color);
font-family: 'Roboto', sans-serif;
font-style: normal;
font-size: 16px;
line-height: 1.5;
color:var(--btn-text-color);
}
.button-all:hover,
.button-all:focus{
cursor: pointer;
background-color: var(--btn-bg-color-active);
color: var(--btn-text-color-active);  
}
.button-web{
background-color:var(--btn-bg-color);
font-family: 'Roboto', sans-serif;
font-style: normal;
font-size: 16px;
line-height: 1.5;
color:var(--btn-text-color);
}
.button-web:hover,
.button-web:focus{
cursor: pointer;
background-color: var(--btn-bg-color-active);
color: var(--btn-text-color-active);  
}
.button-app{
background-color:var(--btn-bg-color);
font-family: 'Roboto', sans-serif;
font-style: normal;
font-size: 16px;
line-height: 1.5;
color:var(--btn-text-color);
}
.button-app:hover,
.button-app:focus{
cursor: pointer;
background-color: var(--btn-bg-color-active);
color: var(--btn-text-color-active);  
}
.button-design{
background-color:var(--btn-bg-color);
font-family: 'Roboto', sans-serif;
font-style: normal;
font-size: 16px;
line-height: 1.5;
color:var(--btn-text-color);
}
.button-design:hover,
.button-design:focus{
cursor: pointer;
background-color: var(--btn-bg-color-active);
color: var(--btn-text-color-active);  
}
.button-marketing{
background-color:var(--btn-bg-color);
font-family: 'Roboto', sans-serif;
font-style: normal;
font-size: 16px;
line-height: 1.5;
color:var(--btn-text-color);
}
.button-marketing:hover,
.button-marketing:focus{
cursor: pointer;
background-color: var(--btn-bg-color-active);
color: var(--btn-text-color-active);  
}
.post-images-title{
font-size: 20px;
line-height: 1.2;
color:var(--main-text-color);
}
.images-text{
font-size: 16px;
line-height: 1.5;
color: var(--second-text-color); 
}
.link{
    text-decoration: none;
}
.footer{
    background-color: var(--second-text-color);
}
.logo-footer{
font-family: 'Raleway', sans-serif;
font-style: normal;
text-transform: uppercase;
font-weight: 800px;
font-size: 18px;
line-height: 1.33;
color: var(--main-bg-color);
}